*.suo
*.cache
*/Thumbs.db
/Source/DontShaveYourHead/.vs/*
/Source/DontShaveYourHead/obj/*
/Source/DontShaveYourHead/packages/*
 
# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
 
# Ignore RimWorld assemblies 
Assembly-CSharp.dll 
UnityEngine.dll 
UnityEngine.*.dll 

.idea/
